<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Pratos ao Pedido</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container mt-4">
        <a th:href="@{/cadastro-pedidos}" class="btn btn-secondary mb-3">Voltar</a>
        <h2 class="mb-4">Adicione os pratos ao pedido</h2>

        <table id="pratosTable" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Nome do prato</th>
                    <th>Preço</th>
                    <th>Descrição</th>
                    <th>Quantidade</th>
                    <th>Ações</th>
                </tr>
            </thead> 
            <tbody>
                <tr th:each="cardapio : ${listaPrato}">
                    <td th:text="${cardapio.id}"></td>
                    <td th:text="${cardapio.nomePrato}"></td>
                    <td th:text="${cardapio.preco}"></td>                
                    <td th:text="${cardapio.descricao}"></td>
                    <td>
                        <input type="number" th:id="'quantiInput-' + ${cardapio.id}" min="1" step="1" pattern="\d*" value="1" />                      
                    </td>
                    <td>                     
                        <a th:attr="onclick=|calcularPedido('${pedidoId}', '${cardapio.id}', '${cardapio.preco}')|">
                            <button type="button" class="btn btn-dark">Adicionar</button>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
<script>
    function calcularPedido(id, idCardapio, preco) {
        // Obtém o valor do input e converte para número
        var quantidadeInput = document.getElementById('quantiInput-' + idCardapio);
        var quantidade = parseInt(quantidadeInput.value);
        
        // Valida a quantidade
        if (isNaN(quantidade) || quantidade < 1) {
            alert("A quantidade deve ser pelo menos 1.");
            return false;
        }
        
        // Calcula o valor total
        var valorTotal = preco * quantidade;
        
        // Construa a URL e redirecione
        var url = '/atualizar-pedidos?id=' + id + '&idCardapio=' + idCardapio + '&preco=' + valorTotal + '&quantidade=' + quantidade;
        window.location.href = url;
    }
</script>
</body>
</html>
